{{!--
Re-usable card for linking to posts
--}}

<article class="gh-card {{post_class}}">
    {{> "feature-image"}}

    <div class="content-wrap">
        <header class="entry-header gh-content gh-canvas">
            <div class="entry-meta">
                <span class="gh-card-meta entry-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD YYYY"}}</time> <span class="bull">&middot;</span> {{reading_time}}</span>
            </div>

            <h1 class="entry-title">{{{title}}}</h1>
        </header><!-- .entry-header -->

        <div class="entry-content gh-content gh-canvas">
            <p>{{excerpt}}</p>
        </div>

        <footer class="entry-footer post-footer gh-content gh-canvas">
            <a class="more-link" href="{{url}}">Read More</a>
        </footer>
    </div><!-- .content-wrapper -->
</article>