<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title}}</title>

	<link rel="stylesheet" href="{{asset "fonts/google/stylesheet.css"}}">
	<link rel="stylesheet" href="{{asset "fonts/fontawesome/css/all.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/screen.css"}}">

	{{ghost_head}}
</head>

<body class="{{body_class}}">

	<div id="page" class="site">

		<nav id="site-navigation" class="main-navigation">
			<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"></button>
			{{navigation}}
		</nav><!-- #site-navigation -->

		<header id="masthead" class="site-header">
			<div class="site-branding">
				{{#if @site.logo}}
					<a class="gh-head-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
				{{else}}
					<h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
					<h2 class="site-description">{{@site.description}}</h2>
				{{/if}}
			</div><!-- .site-branding -->
		</header><!-- #masthead -->

		<div id="content" class="site-content">
			{{#if @site.cover_image}}<div class="header-image" style="background-image: url('{{@site.cover_image}}');"></div>{{/if}}

			<div id="primary" class="content-area">
				<main id="main" class="site-main">
					{{{body}}}
				</main><!-- #main -->
			</div><!-- #primary -->

		</div><!-- #content -->

	</div><!-- #page -->

	<footer class="site-footer">
		<div class="site-info">
			{{#if @site.secondary_navigation}}
				<div class="social-links">
					{{navigation type="secondary"}}
				</div>
			{{/if}}

			<section class="copyright">
                {{#unless @custom.footer_text}}
                    Published with <a href="https://ghost.org/" target="_blank">Ghost</a> &amp; <a href="https://refueled.net">North</a>
                {{else}}
                    {{@custom.footer_text}}
                {{/unless}}
			</section>
		</div>
	</footer>

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! The main JavaScript files}}
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{asset "js/custom.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/navigation.js"}}"></script>

</body>
</html>
