{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}
<!-- featured/cover image -->
<div class="page-wrap">
	{{#post}} {{! Everything inside the #post tags pulls data from the post }}

	<article class="{{post_class}}">
	    {{> "feature-image"}}

		<div class="content-wrap">
			<header class="entry-header gh-content gh-canvas">
				<h1 class="entry-title">{{{title}}}</h1>

				<div class="entry-meta">
					{{#primary_author}}Written by <a href="{{url}}">{{name}}</a>{{/primary_author}} &middot; {{date format="MMMM DD YYYY"}}
				</div>
			</header><!-- .entry-header -->

			<div class="entry-content gh-content gh-canvas">
				{{content}}
			</div>

			<footer class="entry-footer post-footer gh-content gh-canvas">
				<div>{{tags prefix="Tags: "}}</div>

				{{#if comments}}
					<section class="article-comments gh-canvas">
						{{comments}}
					</section>
				{{/if}}

			</footer>

		</div><!-- .content-wrapper -->

	</article>

	{{/post}}
</div>