{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}
<div class="page-wrap">
	<header class="tag-archive">
		<h3>{{tag.name}}</h3>

		<p>
			{{#if description}}
			{{description}}
			{{else}}
			A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
			{{/if}}
		</p>
	</header>

	{{! Each post will be output using this markup }}
	{{#foreach posts}}
		{{> "card"}} {{!-- partials/card.hbs --}}
	{{/foreach}}

	{{!! After all the posts, we have the previous/next pagination links }}
	{{pagination}}
</div>